<html>  
  <head>	
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css"/></link>
	<link rel="stylesheet" href="/assets/css/style.css"></link>
	<script src="/assets/js/bootstrap.min.js"></script>
    <title>Express handlebars</title>
  </head>
  <body>	
	
	<div class="panel panel-default">
		{{{body}}}
	</div>
   
  </body>
</html>